<div class="card" style="">
  <div class="card-header">Products</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Is Used</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.isUsed }}</td>
          <td><button class="btn btn-info">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
